<section id="about" class="about">
    <div class="container">
        <h2 class="section_title visually-hidden">Services</h2>
        <ul class="services_list">
            <li class="services_item">
                <div class="services_icon-box">
                 <i class="fas fa-university"></i>
                </div>
                
                <h3 class="section_subtitle">Investmant Banking</h3>
                <p class="content_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
            </li>
            <li class="services_item">
                <div class="services_icon-box">
                 <i class="fas fa-book-reader"></i>
                </div>               
                <h3 class="section_subtitle">Portfolio Manager</h3>
                <p class="content_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
            </li>
            <li class="services_item">
                <div class="services_icon-box">
                 <i class="fas fa-pencil-alt"></i>
                </div>
               
                <h3 class="section_subtitle">Tax & Custudio</h3>
                <p class="content_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
            </li>
        </ul>
    </div>
</section>
