.solutions_context {
  background-color: $accent-color;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.content_blok {
  color: $main-color-white;
  padding: 30px 30px 30px 30px;
  @media screen and (min-width: $tablet) {
    width: 50%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  // @media screen and (min-width: $desktop) {
  //   padding-top: 84px;
  //   padding-bottom: 84px;
  // }
  .section_title {
    color: $main-color-white;
    text-align: start;
    margin-bottom: 25px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 26px;
    }
  }
  .content_text {
    margin-bottom: 14px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 17px;
    }
  }
}
