.team {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 59px;
  }
  &_header {
    margin-bottom: 37px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 49px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 45px;
    }
  }
}
.team_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    margin-left: -19px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -16px;
  }
}

.team_item {
  text-align: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 - 19px);
    margin-left: 19px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: $desktop) {
    width: calc(100% / 3 - 16px);
    margin-left: 16px;
  }
}
.team_item:not(:last-child) {
  @media screen and (max-width: $tablet - 1) {
    margin-bottom: 10px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 13px;
  }
}
.social_thumb {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 80px 50px 70px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition-timing-function: $timing-function;
  transition-property: opacity;
  transition-duration: $time;
  @media screen and (min-width: $tablet) {
    padding: 59px 31px 54px 31px;
  }
  @media screen and (min-width: $desktop) {
    padding: 130px 110px 121px 102px;
  }
}

.team_item:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
  .social_thumb {
    opacity: 1;
  }
}

.social_list-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 216px;
  justify-content: space-between;

  .fab {
    &:hover,
    &:focus {
      color: $main-color-white;
      opacity: 0.8;
    }
  }
}

.team_title {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.261;
  margin-bottom: 11px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 12px;
  }
}
